.cabecalho{
    background-color: #DFD7BF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 32px;
}
.cabecalho img{
    max-width: 100px;
}
.cabecalho ul{
    list-style: none;
}
.cabecalho li{
    display: inline-block;
}
.cabecalho a{
    text-decoration: none;
    color: #3F2305;
    margin-left: 40px;
}
li a:hover:not(.active){
    background-color: rgb(184, 184, 184);
    color: #3F2305;
}